[Desktop Entry]
Encoding=UTF-8
Name=Braincoin
Comment=Braincoin P2P Cryptocurrency
Comment[fr]=Braincoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Braincoin, eşten eşe kriptografik sanal para birimi
Exec=braincoin-qt %u
Terminal=false
Type=Application
Icon=braincoin128
MimeType=x-scheme-handler/braincoin;
Categories=Office;Finance;
