[Desktop Entry]
Encoding=UTF-8
Name=Brain
Comment=Brain P2P Cryptocurrency
Comment[fr]=Brain, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Brain, eşten eşe kriptografik sanal para birimi
Exec=brain-qt %u
Terminal=false
Type=Application
Icon=brain128
MimeType=x-scheme-handler/brain;
Categories=Office;Finance;
