[Desktop Entry]
Encoding=UTF-8
Name=Putic
Comment=Putic P2P Cryptocurrency
Comment[fr]=Putic, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Putic, eşten eşe kriptografik sanal para birimi
Exec=putic-qt %u
Terminal=false
Type=Application
Icon=putic128
MimeType=x-scheme-handler/putic;
Categories=Office;Finance;
