[Unit]
Description=Braincoin's distributed currency daemon
After=network.target

[Service]
User=braincoin
Group=braincoin

Type=forking
PIDFile=/var/lib/braincoind/braincoind.pid
ExecStart=/usr/bin/braincoind -daemon -pid=/var/lib/braincoind/braincoind.pid \
-conf=/etc/braincoin/braincoin.conf -datadir=/var/lib/braincoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
