[Unit]
Description=Brain's distributed currency daemon
After=network.target

[Service]
User=brain
Group=brain

Type=forking
PIDFile=/var/lib/braind/braind.pid
ExecStart=/usr/bin/braind -daemon -pid=/var/lib/braind/braind.pid \
-conf=/etc/brain/brain.conf -datadir=/var/lib/braind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
